<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        body {
            background-image: url('./static/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat:no-repeat;
            background-attachment: fixed;
            color: white;
            min-height: 100vh;
            margin: 0;
        }
    </style>

    <title>Dashboard</title>
</head>

<body>
    <h1>Hello you are logged in.</h1>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>

</html>